@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    line-height: 1.55;
    background-color: #ffffff;
    color: #000000;
    
}

h2 {
    font-size: 85px;
    text-align: center;
    max-width: 10em;
    margin: 0 auto 0 auto;
}

header {
    background-color: #f2dd00;
    padding: 20px;
    
    display:flex;
    align-items: center;
    justify-content: space-between;
}

header img{
    max-width: 265px;
}

header nav {
    display:flex;
    align-items: center;

}

header nav a {
    margin: 0 0 0 24px;
    color: #000000;
    text-decoration: none;
}

section {
    padding: 95px;
}


section.yellow {
    background-color:#f2dd00;
}

section.salmon {
    background-color: #f09291;
}

section.baby-blue {
    background-color: #bee3f8;
}

figure {
    max-width: 700px;
    margin: 0 auto 0 auto;
    position:relative;
}



figcaption {
    position:absolute;
    top: 70%;
    left: 100%;
    width: 50%;
    transform: translate(-50%,-50%);
}

figcaption:before {
    content: "";
    padding: 160% 0 0 0;
    display:block;
}

section.salmon figcaption {
    left:0;
}

figcaption img{
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    max-width:500px;
    opacity: 0;
    transition: opacity 0.5s 0.5s;
}

figcaption.in-view img{
    opacity: 1;
}

figcaption img:nth-child(2) {
    transition-delay: 1s;
}

figcaption img:nth-child(3){
    transition-delay: 1.5s;
}



